># <center> <font color='red'> DATA SCIENCE: penguins dataset </font> </center>
>## <center> <font color='blue'> Nearest Neighbor Classification </font>  </center>

In [ ]:
import pandas as pd
from sklearn.neighbors import KNeighborsClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
from seaborn import load_dataset

Read the penguins dataset into the dataframe df using load_dataset('penguins'). Display the top 10 rows.
![penguins.png](attachment:penguins.png)

In [ ]:
 
df = load_dataset("penguins")



df.head(10)

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex
0,Adelie,Torgersen,39.1,18.7,181.0,3750.0,Male
1,Adelie,Torgersen,39.5,17.4,186.0,3800.0,Female
2,Adelie,Torgersen,40.3,18.0,195.0,3250.0,Female
3,Adelie,Torgersen,NaN,NaN,NaN,NaN,NaN
4,Adelie,Torgersen,36.7,19.3,193.0,3450.0,Female
5,Adelie,Torgersen,39.3,20.6,190.0,3650.0,Male
6,Adelie,Torgersen,38.9,17.8,181.0,3625.0,Female
7,Adelie,Torgersen,39.2,19.6,195.0,4675.0,Male
8,Adelie,Torgersen,34.1,18.1,193.0,3475.0,NaN
9,Adelie,Torgersen,42.0,20.2,190.0,4250.0,NaN

![bill.png](attachment:bill.png)

Display the number of rows in the dataset

In [ ]:
df.shape[0]

344

Drop the rows having missing values.

In [ ]:
df=df.dropna()
df.shape[0]

333

Use the columns 'bill_depth_mm', 'flipper_length_mm' and 'body_mass_g' to define the data (use variable X) and the column 'species' to define the labels (use variable y)

In [ ]:
X = df.iloc[:,3:6]
y = df.iloc[:,0:1]
print(X)
print(y)

     bill_depth_mm  flipper_length_mm  body_mass_g
0             18.7              181.0       3750.0
1             17.4              186.0       3800.0
2             18.0              195.0       3250.0
4             19.3              193.0       3450.0
5             20.6              190.0       3650.0
..             ...                ...          ...
338           13.7              214.0       4925.0
340           14.3              215.0       4850.0
341           15.7              222.0       5750.0
342           14.8              212.0       5200.0
343           16.1              213.0       5400.0

[333 rows x 3 columns]
    species
0    Adelie
1    Adelie
2    Adelie
4    Adelie
5    Adelie
..      ...
338  Gentoo
340  Gentoo
341  Gentoo
342  Gentoo
343  Gentoo

[333 rows x 1 columns]

Using the describe method, check the range of values in each column of X and comment.

In [ ]:
df.describe()

       bill_length_mm  bill_depth_mm  flipper_length_mm  body_mass_g
count      333.000000     333.000000         333.000000   333.000000
mean        43.992793      17.164865         200.966967  4207.057057
std          5.468668       1.969235          14.015765   805.215802
min         32.100000      13.100000         172.000000  2700.000000
25%         39.500000      15.600000         190.000000  3550.000000
50%         44.500000      17.300000         197.000000  4050.000000
75%         48.600000      18.700000         213.000000  4775.000000
max         59.600000      21.500000         231.000000  6300.000000

Using the label column, split your dataset into two parts, namely training data and test data, such that each part includes approximately 10 percent for test. Set random_state = 428

In [ ]:
x_train,x_test,y_train,y_test = train_test_split(X,y,test_size=0.1,random_state=428)

Using the training data, generate a kNN classifier to predict the labels of the samples in the test data.

In [ ]:
clf = KNeighborsClassifier()
clf.fit(x_train,y_train)
y_pred = clf.predict(x_test)

/usr/local/lib/python3.8/dist-packages/sklearn/neighbors/_classification.py:198: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  return self._fit(X, y)

Compute the Accuracy of your classifier using the test data

In [ ]:
print('Accuracy = ', accuracy_score(y_test,y_pred)   )

Accuracy =  0.7941176470588235

Scale the columns in the training and test datasets using zero mean and unit variance normalization. Note that StandardScaler returns Numpy ndarrays.

In [ ]:
from sklearn.preprocessing import StandardScaler
scaler  = StandardScaler()
x_train = scaler.fit_transform(x_train)
x_test  = scaler.transform(x_test)

Display the column means of x_train and x_test. Notice the diferences in the means and comment.

In [ ]:
x_train_mean = x_train.mean(axis=0)
x_test_mean = x_test.mean(axis=0)
print(x_train_mean)
print(x_test_mean)

[1.15849359e-16 8.91148916e-17 0.00000000e+00]
[-0.3454813   0.45082247  0.39693517]

Using the scaled training data, generate a kNN classifier to predict the labels of the samples in the scaled test data.

In [ ]:
clf = KNeighborsClassifier()
clf.fit(x_train,y_train)
y_pred =clf.predict(x_test)

/usr/local/lib/python3.8/dist-packages/sklearn/neighbors/_classification.py:198: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  return self._fit(X, y)

Compute the Accuracy of your classifier using the scaled test data and compare with the accuracy you obtained before scaling,

In [ ]:
print('Accuracy after scaling = ', accuracy_score(y_test,y_pred)  )

Accuracy after scaling =  0.8823529411764706